<li id="haiku-<%= haiku.id %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <%= link_to gravatar_for(haiku.user, size: 50), haiku.user %>
      </div>
      <div class="col-sm-3">
        <%= link_to haiku.user.name, haiku.user %>
        <p><%= haiku.verse_1 %></p>
        <p><%= haiku.verse_2 %></p>
        <p><%= haiku.verse_3 %></p>
      </div>
      <div class="col-md-4">
      <div class="col-md-4">
      <% if haiku.public? %>
      <% else %>
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Private</option>
            <option>Public</option>
          </select>
        </div>
      <% end %>
</div>
      </div>
    </div>

      <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-2">
      <%= render 'reactions/react_form', micropost_id: haiku.id %>
      </div>
      <div class="col-sm-2"> 
        <button type="button" class="btn" data-toggle="collapse" data-target=<%= "#micropost-collapse-#{haiku.id}" %> >
        Comments
        </button>
      </div>
      <div class="col-sm-2"> 
        <button type="button" class="btn" data-toggle="collapse" data-target=<%= "#micropost-collapse-#{haiku.id}" %> >
        Share
        </button>
      </div>
    </div>
  </div>
</li>
