<li id="haiku-<%= haiku.id %>">
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
        <%= link_to gravatar_for(haiku.user, size: 50), haiku.user %>
      </div>
      <div class="col-sm-3">
        <%= link_to haiku.user.name, haiku.user %>
        <p><%= haiku.verse_1 %></p>
        <p><%= haiku.verse_2 %></p>
        <p><%= haiku.verse_3 %></p>
        <% if haiku.tag ? %>
        <p class="text-primary">#<%= haiku.tag %></p>
        <% else %>
        <% end %>
      </div>
      <p>this is hash tag</p>
      <div class="col-md-4">
      <div class="col-md-4">
      <% if haiku.public? %>
      <% else %>
         <%= form_with(model: haiku, html: { method: :patch }, local: true) do |f| %>
        <%= f.submit "Public", class: "btn" %>
        <%end%>
      <% end %>
      
</div>
      </div>
    </div>

      <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-2">
        <%= haiku.haiku_comments.count %> Comments
      </div>
      <div class="col-sm-2">
        Likes
      </div>
      <div class="col-sm-3">
        <%= time_ago_in_words(haiku.created_at) %> ago.
        <% if current_user?(haiku.user) %>
          <%= link_to "delete", haiku, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %></div>
    </div>
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target=<%= "#haiku-collapse-#{haiku.id}" %> >
          Comments
        </button>
      </div>
    </div>
    <div row>
        <div class="col-sm-8">
            <div id=<%= "haiku-collapse-#{haiku.id}" %> class="collapse comment_list">
                <h3>Comments</h3>
                <%= render 'haiku_comments/haiku_comment_form', haiku_id: haiku.id %>
                <% if haiku.haiku_comments.any? %>
                    <ol class="microposts">
                        <% haiku.haiku_comments.each do |comment|%>
                            <%= render 'haiku_comments/haiku_comment', haiku_comment: comment %>
                        <% end %>
                    </ol>
                <% end %>
            </div>
        </div>
    </div>
  </div>
</li>
