<div class="container">
    <% @challengePosts.each do |challenge|%>
    <%= challenge %>
    <% end%>
    <%= @postCount %>
    <br>
    <br>
    <%= @startDate %>
     <% @startDate.each do |start|%>
    <%= start %>
    <% end%>
    <br>
    <%= @challengeCount %>
    
 </div> 