<li><%= link_to "Profile", current_user %></li>
<li><%= link_to "Challenges", challenges_path %></li>
<li><%= link_to "My Challenges", my_challenges_path %></li>
<li><%= link_to "Settings", edit_user_path(current_user) %></li>
<li class="divider"></li>
<li><%= link_to "Logout", logout_path, method: "delete" %></li>