<% provide(:title, "Edit user") %>
<h1><%= t 'users.edit_profile' %></h1>
<div class="row">
    <div  class="col-md-12">
    <div class="col-md-4">
    <div class="row">
            <%= gravatar_for @user %>
            <a href="https://gravatar.com/emails"><%= t 'users.edit_profile_picture' %></a>
    </div>
    </div>
    <div class="col-md-4">
        <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label t('users.name') %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label t('users.email') %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.label t('users.password') %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label t('users.confirm_password') %>
        <%= f.password_field :password_confirmation, class:
        'form-control' %>
        <%= f.submit t('users.save_changes'), class: "btn btn-primary" %>
        <% end %>
        </div>
    <div class="gravatar_edit col-md-4">
       
        <h2>Change language</h2>
    </div>
    </div>
</div>