<!-- <% provide(:title, "Start Challenge") %>
<%= form_with(model: @daily_challenge, local: true) do |f| %>
  <%= hidden_field_tag :start_date, Time.zone.now %>
  <%= hidden_field_tag :start_date, Time.zone.now %>
    <%= hidden_field_tag :start_date, Time.zone.now %>
    <div style="margin-top:40px;"></div>
    <%= f.button "Update Challenge", class: "btn createAccount", style: "width:150px" %>
<% end %>
        -->
        <h1>challenge index</h1>