<h5 class="card-title">
    <%= link_to gravatar_for(current_user, size: 30), current_user %>
    <h6 class="card-subtitle mb-2 text-muted" style="padding-top:0.5em;">
        <%= link_to current_user.name, current_user, class:"text-muted" %>
    </h6>
    <br />
    <p class="card-text text-center"><input class="form-control-plaintext haiku_input_field" value="<%= @challenge.verse_1%>" readonly ></p>
    <p class="card-text text-center"><input class="form-control-plaintext haiku_input_field" value="<%= @challenge.verse_2%>" readonly ></p>
    <p class="card-text text-center"><input placeholder="Third Verse" class="form-control-plaintext haiku_input_field" readonly ></p>
    
    <% if @challenged_users_for_this_challenge_name.any? %>
        <p>Challenged User: 
            <% @challenged_users_for_this_challenge_name.each do |name| %>
                <span class="badge bg-light text-primary"><%= name %></span>
            <% end %>
        </p>
    <% end %>
    <%= form_tag search_user_path, :method => 'get' do %>
        <div class=""><%= text_field_tag :search, params[:search], class:"form-control", id:"input", placeholder:"Please search user to challenge" %></div>
        <div><%= hidden_field_tag :from_my_challenge, from_my_challenge %></div>
        <div class=""><%= submit_tag "Search", class:"btn btn-default", id:"button" %></div>
    <% end %>
    <% if @after_search_user%>
        <%= render @show_user_search_result %>
    <% else %>
    <% end %>
</h5>