<h5 class="card-title">
    <div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="display: flex; align-items: center;">
    <%= link_to gravatar_for(current_user, size: 30), current_user %>
    <h6 class="card-subtitle mb-2 text-muted" style="padding-top:0.5em;">
        <%= link_to current_user.name, current_user, class:"text-muted" %>
    </h6>
    </div>
    <div>
        <%= form_tag my_challenges_path, :method => 'delete' do %>
            <%= hidden_field_tag :challenge_id, challenge.id %>
            <%= submit_tag "Delete", class: "btn btn-danger", name: "submit_button",value: "Delete" %>
        <% end %>
    </div>
    </div>
    <br />
        <p class="card-text text-center"><input class="form-control-plaintext haiku_input_field" value="<%= challenge.verse_1%>" readonly ></p>
        <p class="card-text text-center"><input class="form-control-plaintext haiku_input_field" value="<%= challenge.verse_2%>" readonly ></p>
        <p class="card-text text-center"><input placeholder="Third Verse" class="form-control-plaintext haiku_input_field" readonly ></p>
    
    <% if challenge.challenge_users.any? %>
        <p>Challenged Users: 
            <% challenge.challenge_users.each do |challenge_user| %>
                <span class="badge bg-light text-primary"><%= challenge_user.user.name %></span>
            <% end %>
        </p>
    <% end %>
    <%= form_tag search_user_path, :method => 'get' do %>
        <div class=""><%= text_field_tag :search, params[:search], class:"form-control", id:"input", placeholder:"Please search user to challenge" %></div>
        <div><%= hidden_field_tag :from_my_challenge, from_my_challenge %></div>
        <div class=""><%= submit_tag "Search", class:"btn btn-default", id:"button" %></div>
    <% end %>
    <% if @after_search_user%>
        <div >
        <%= render @show_user_search_result %>
        </div>
    <% else %>
    <% end %>
</h5>