<% if logged_in? %>
<div class="row container">
    <div class="col-md-1">

    </div>
    <div class="col-md-7">
  
        <aside class="col-md-4" style="display:none">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="stats" style="display:none">
                <%= render 'shared/stats' %>
            </section>
            <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
            </section>
        </aside>
        <div class="col-md-12" style="">
            <div class="col-md-2" style="">
            </div>
            <div class="col-md-12" style="border: 1px solid #ddd; margin-top:50px">
            <% if !@is_on_search %>
                <section class="micropost_form">
                    <%= render 'shared/haiku_form' %>
                </section>
            <% end %>
            </div>
            <div class="col-md-2" style="">
            </div>
            <div class="col-md-12" style="padding-top: 2em;">
            <% if @is_on_search %>
                <h1> Search results...</h1>
                <% if @haiku_feed_items.length == 0 %>
                    <h1>haiku not found</h1>
                <% else %>
                    <%= render 'shared/haiku_feed' %>
                <% end %>
            <% else %>
                <%= render 'shared/haiku_feed' %>
            <% end %>
            </div>
            
        </div>
    </div>
    <div class="col-md-4"  style="border: 1px solid #ddd; margin-top:50px; padding-bottom: 20px;">
    <h3>Send challenge for users here</h3>
    <hr class="mt-2 mb-3"/>
    <div  style="padding-bottom: 20px;">
        <%= render 'challenges/challenge_user_form', from_my_challenge: false %>
    </div>
    <div>
</div>
<% end %>
