<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
        <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
    <span class="timestamp">
        <%= t 'microposts.micropost.posted_by' %>
         <%= tag.time micropost.created_at %> <%= t 'microposts.micropost.ago' %>
        <% if current_user?(micropost.user) %>
            <%= link_to t('microposts.micropost.delete'), micropost, method: :delete, data: { confirm: t('microposts.micropost.sure') } %>
        <% end %>
    </span>
    <span class="reaction">
        <span class="comment">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t 'microposts.micropost.comment' %> <%= micropost.comments.count %>
                </button>
                <span><%= micropost.reactions.count%> <%= t 'microposts.micropost.like' %> </span>
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h3><%= t 'microposts.micropost.comment' %></h3>
                    <%= render 'comments/comment_form', micropost_id: micropost.id %>
                    <% if micropost.comments.any? %>
                        <ol class="microposts">
                            <% micropost.comments.each do |comment|%>
                                <%= render 'comments/comment', comment: comment %>
                            <% end %>
                        </ol>
                    <% end %>
                </div>
            </div>
        </span>
        <%= render 'reactions/react_form', micropost_id: micropost.id %>
    </span>
</li>