<li id="micropost-<%= micropost.id %>">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
            </div>
            <div class="col-sm-3">
            <%= link_to micropost.user.name, micropost.user %>
            <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
             </div>
        </div>
    
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-2">
        <%= micropost.comments.count %> Comments
         </div>
        <div class="col-sm-2">
        <%= micropost.reactions.count %> Likes
        </div>
        <div class="col-sm-3">
        <%= t 'microposts.micropost.posted_at' %>
         <%= tag.time micropost.created_at %> <%= t 'microposts.micropost.ago' %>
        <% if current_user?(micropost.user) %>
            <%= link_to t('microposts.micropost.delete'), micropost, method: :delete, data: { confirm: t('microposts.micropost.sure') } %>
        <% end %></div>
    </div>
     <div class="row">
     <div class="col-sm-1"> </div>
        <div class="col-sm-2"> 
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#comment_list">
            <%= t 'microposts.micropost.comment' %>
            </button>
        </div>
        <div class="col-sm-2">
        <%= render 'reactions/react_form', micropost_id: micropost.id %>
        </div>
    </div>
    <div row>
        <div class="col-sm-8">
            <div id="comment_list" class="collapse">
                <h3><%= t 'microposts.micropost.comment' %></h3>
                <%= render 'comments/comment_form', micropost_id: micropost.id %>
                <% if micropost.comments.any? %>
                    <ol class="microposts">
                        <% micropost.comments.each do |comment|%>
                            <%= render 'comments/comment', comment: comment %>
                        <% end %>
                    </ol>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</li>