<li id="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
        <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
    <span class="timestamp">
    
        Posted <%= time_ago_in_words(micropost.created_at) %> ago.
        <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
    </span>
    <span class="reaction">
        <span class="comment">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Comment <%= micropost.comments.count %>
                </button>
                <span><%= micropost.reactions.count%> Likes</span>
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <h3>Comments</h3>
                    <%= render 'comments/comment_form', micropost_id: micropost.id %>
                    <% if micropost.comments.any? %>
                        <ol class="microposts">
                            <% micropost.comments.each do |comment|%>
                                <%= render 'comments/comment', comment: comment %>
                            <% end %>
                        </ol>
                    <% end %>
                </div>
            </div>
        </span>
        <%= render 'reactions/react_form', micropost_id: micropost.id %>
    </span>
</li>