<li id="micropost-<%= micropost.id %>">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
            </div>
            <div class="col-sm-3">
            <%= link_to micropost.user.name, micropost.user %>
            <br>
            <%= micropost.content %>
        <%= image_tag micropost.display_image if micropost.image.attached? %>
             </div>
        </div>
    
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-2">
        <%= micropost.comments.count %> Comments
         </div>
        <div class="col-sm-2">
        <%= micropost.reactions.count %> Likes
        </div>
        <div class="col-sm-3">
         <%= time_ago_in_words(micropost.created_at) %>
        <% if current_user?(micropost.user) %>
            <%= link_to "delete", micropost, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %></div>
    </div>
     <div class="row">
     <div class="col-sm-1"> </div>
        <div class="col-sm-2"> 
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target=<%= "#micropost-collapse-#{micropost.id}" %> >
            Comments
            </button>
        </div>
        <div class="col-sm-2">
        <%= render 'reactions/react_form', micropost_id: micropost.id %>
        </div>
    </div>
    <div row>
        <div class="col-sm-8">
            <div id=<%= "micropost-collapse-#{micropost.id}" %> class="collapse comment_list">
                <h3>Comments</h3>
                <%= render 'comments/comment_form', micropost_id: micropost.id %>
                <% if micropost.comments.any? %>
                    <ol class="microposts">
                        <% micropost.comments.each do |comment|%>
                            <%= render 'comments/comment', comment: comment %>
                        <% end %>
                    </ol>
                <% end %>
            </div>
        </div>
    </div>
    </div>
</li>