<header class="navbar navbar-fixed-top navbar-inverse app-header">
  <div class="container">
    <%= link_to "Haiku" , root_path, id: "logo", class: "logo" %>
    <% if logged_in? %>
      <div class="col-md-8">
        <%= render 'shared/search_form' %>
      </div>
    <% end %>
    <nav  class="header_nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right lg-menu-nav">
        <li>
          <%= link_to root_path, id: "navlink" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
            <li><%= link_to "Home", root_path, id: "navlink", style:"display:none" %></li>
          <% end %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to users_path, id: "navlink" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
              </svg>
              <%= link_to "Users", users_path, id: "navlink", style:"display:none" %>
            <% end %>
          </li>
          <li class="dropdown navlinkdrop-down">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id= "navlink" >
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                <% if count_notification > 0 %>
                  <span id="notification-badge" class="badge badge-light" style="margin-top: -25px;">
                    <%=count_notification %>
                  </span>
                <% end %>
              </svg>
            </a>
            <ul class="dropdown-menu col-md-3" style="width: 400px; box-shadow: 5px 10px #dddddd">
            <div style="text-decoration: none; padding-left: 20px; font-size: 20px">
              <li>Notifications</li>
              </div>
              <%= render 'notifications/notification' %>
            </ul>
          </li>
          <li class="dropdown navlinkdrop-down">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id= "navlink">
              <%= gravatar_for(current_user, size: 20, email:current_user.email) %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Challenges", challenges_path %></li>
              <li><%= link_to "My Challenges", my_challenges_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to login_path, id: "navlink" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            <% end %>
            <%= link_to "Log in", login_path, id: "navlink", style: "display:none" %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right collapse navbarcollapse" id="bs-example-navbar-collapse-1">
        <li>
          <% link_to root_path, id: "navlink" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
          <% end %>
        </li>
        <li><%= link_to "Help", help_path, id: "navlink" %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path, id: "navlink" %></li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id= "navlink" style="padding-left: 15px;">
            <p>Notification <% if count_notification > 0 %>
              <span id="notification-badge" class="badge badge-light" style="margin-top: -25px;">
                <%=count_notification %>
              </span>
            <% end %>
            </p>
            </a>
            <ul class="dropdown-menu">
            <div style="text-decoration: none; padding-left: 20px; font-size: 30px">
                <li>Notifications</li>
              </div>
              <%= render 'notifications/notification' %> 
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id= "navlink">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Challenges", challenges_path %></li>
              <li><%= link_to "My Challenges", challenges_path %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
